*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(39, 41, 63);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.right-buttons-div{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: flex-end;
    background-color: rgb(39, 41, 63);
}
.start-button-div {
    padding: 20px;
}
.portfolio-button-div{
    padding: 20px;
}
.about-button-div{
    padding: 20px;
}
.contact-button-div{
    padding: 20px;
}
.nav-button{
    padding: 20px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    background-color: rgb(39, 41, 63);
}
.start-button{
    font-size: 24px;
    font-weight: 700;
}
/*   **********************************************    */
.the-title{
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}
.the-title div{
    text-align: center;
}
.the-title div h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.the-title div p{
    color: white;
    font-size: 20px;
}
.profile-image{
    width: 100%;
    height: 150px;
    margin-top: 120px;
}
.profile-image img{
    width: 150px;
    height: 150px;
}
/*   **********************************************    */
.portfolio{
    background-color: white;
    width: 100%;
    height: 750px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.portfolio div h2{
    color: rgb(12, 19, 80);
    font-size: 40px;
    font-weight: 600;
}
.portfolio .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.portfolio .images img{
    width: 300px;
    height: 300px;
}
/*   **********************************************    */
.about{
    width: 100%;
    height: 400px;
    background-color: teal;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.about div h2{
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.paragraphs{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.paragraphs div p{
    width: 200px;
    color: white;
    font-size: 18px;
}
.download-button{
    background-color: teal;
    border: solid white;
    width: 200px;
    height: 60px;
}
.download-button div img{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 30px;
}
.download-button div p{
    margin-right: 30px;
}
/*   **********************************************    */
.contact{
    width: 100%;
    height: 700px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.label-and-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
}
.contact div h2{
    color: rgb(12, 19, 80);
    font-size: 40px;
    font-weight: 600;
}
.contact div label{
    color: rgb(80, 77, 77);
    font-size: 25px;
}
.contact div textarea{
    height: 100px;
}
.contact div input{
    height: 30px;
}
.contact div button{
    background-color: teal;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: none;
    margin-right: 510px;
}
/*   **********************************************    */
.social-media{
    background-color: rgb(39, 41, 63);
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.social-media div{
    height: 100px;
    width: 200px;
}
.social-media div h3{
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.social-media div p{
    color: white;
    font-size: 14px;
}
.social-media div p a{
    color: teal;
}
.social-media div div{
    height: 100px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.social-media div div div{
    height: 40px;
    width: 40px;
}
.social-media div div div a{
    height: 100%;
    width: 100%;
    border: white solid;
    background-color: white;
}
/*   **********************************************    */
.footer{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: white;
}